.welcome {
    text-align: center;
    width: 50%;
    margin: auto;
}

.login {
    display: flex;
    height: 100vh;
    align-items: center;
    margin: 0 30px;
}

.login-left-side {
    width: 50vw;
    color: white;
}

.login-box {
    float: right;
    width: 50vw;
    background-color: var(--soft-color);
    margin: 0 auto;
    border: 1px solid #333;
    box-shadow: 4px 4px 2.5px rgb(59, 54, 70);
    padding: 2em;
    border-radius: 4px;

}

.inputs {
    width: 90%;
    align-items: center;
    margin: 20px 20px 0;
    display: block;
}

#username,
#password {

    width: 100%;
    padding: 3vh;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid grey;
    outline: none;
    background: #eeeeee;
    margin: 10px 0;

}

.login-button {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    background: var(--secondary-color);
    margin: 0.75rem 0;
}

.login-title {
    text-align: center;
}