.dash-body {
    background-color: #fffafa !important;
    height: 100vh;
}

.dash-content-container {
    margin-top: 20px;
}

.home-card {
    height: 50vh;
}

.home-card>.card {
    /* background-color: #ebebeb; */
    background-color: white;
}

.vars {
    /* floral white */
    background-color: #faf9f0;

}

.dashClientHeader {
    background-color: var(--color3);
    height: 100px;
}

#clientTable {
    border-collapse: separate;
    border-spacing: 0 5px;
}

#clientTable th,
#adminTable th {
    background-color: white;
    font-weight: 700;
    padding: 12px 12px;
}