.topbar {
    /* max-width: calc(100vw - 280px);
    margin-left: 280px; */
}

.topbar span {
    font-family: var(--mono-text) !important;
    font-weight: 200;
}

#topbar-home {
    background-color: var(--color5);
}

#topbar-home span {
    color: var(--color2);
}

#topbar-login {
    background-color: var(--primary-color);
}

#topbar-login span {
    color: var(--color2);

}

#topbar-dashboard {
    /* width: 85vw; */
    background-color: var(--secondary-color);
}

#topbar-dashboard,
#topbar-client span {
    color: var(--color2);
}

#topbar-client {
    background-color: var(--color5);
}