.sidebar {
    /* height: var(--body-height); */
    width: 280px;
    min-height: 100vh;
    position: sticky;
    top: 0px;
    background-color: var(--color2);
    -moz-box-shadow: 3px 0 5px 0 #5555556b;
    -webkit-box-shadow: 3px 0 5px 0 #5555556b;
    box-shadow: 3px 0 5px 0 #5555556b;

}