.clientContainer {
    background-color: #fffafa;
    /* background-color: var(--soft-color); */
    height: 100vh
}

#pageTitle {
    font-family: var(--display-font);
}

#cardInfoTitle {
    font-weight: 600;
    font-size: x-large;
}

.clientTop {
    height: 100px;
    background-color: var(--color5);
    color: #fffafa
}

.clientNavbar {
    height: 50px;
    background-color: #e6e6e6;

}