.demoCard,
.histCard,
.encCard {
    height: 100%;
    background-color: var(--color2);
}

.clientContainer {
    background-color: var(--color2);
    height: var(--body-height);
}

#pageTitle {
    font-family: var(--display-font);
}

#cardInfoTitle {
    font-weight: 600;
    font-size: x-large;
}